<mat-toolbar color="primary" class="sidebar-header">
    <span>Gym</span>
</mat-toolbar>

<mat-nav-list>
    <a mat-list-item *ngFor="let i of nav" [routerLink]="i.path" (click)="onNavClick()">

        <mat-icon matListIcon>{{ i.icon }}</mat-icon>
        <span matLine>{{ i.label }}</span>

    </a>
</mat-nav-list>

<mat-divider></mat-divider>

<div class="sidebar-footer">
    <div class="small">Signed in as</div>
    <div class="muted small">{{ userEmail || 'Not signed in' }}</div>
    <button mat-button color="warn" (click)="logout()">Logout</button>
</div>